.header {
  background-color: var(--header-bg);
  height: 14.5rem;
}
.header__title {
  font-size: 4rem;
  font-weight: 700;
  padding: 4rem 0 0 3.3rem;
  letter-spacing: .2rem;
}
.header__subtitle {
  font-size: 1.4rem;
  font-weight: 500;
  padding-left: 3.3rem;
}
.container {
  background-color: var(--main-bg);
  max-height: 100%;
}
.container__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28rem;
}
.container__profile > div {
  width: 40%;
  height: 17rem;
  /* border: 3px solid var(--border); */
  border-style: double;
  /* border-width: 1px; Porque não pegou se aparece na doc? */
  padding: 3rem 0 0 2rem;
  display: flex;
 }
.container__profile-picture {
  border-radius: 100%;
  width: 10.5rem;
  height: 10.5rem;
}
.container__profile-about {
  padding: .7rem 0 0 .8rem;
}
.container__profile-name {
  font-size: 1.8rem;
}
.container__profile-desc {
  width: 80%;
  text-align:left;
  font-size: 1.035rem;
  font-weight: 300;
  line-height: 1.6rem;
}
.container__women {
  display: flex;
  justify-content: space-around;
  max-height: 350px;
}
.container__women figure {
  width: 15%;
  padding-top: 3rem;
}
.container__women-img {
  width: 75%;
  height: 50%;
  border-radius: 100%;
  margin: 0 1.25rem;
}
.container__women figcaption {
  font-weight: 300;
  text-align: center;
  margin: 1rem 0;
}
.footer {
  background-color: var(--footer-bg);
  color: var(--dark-footer-font);
  height: 5rem;
  display: flex;
  justify-content: center;
  /* align-self: center;  por que não alinhou? */
}
.footer h4 {
  font-size: 1.5rem;
  padding-top: 2rem;
}
.footer a {
  color: var(--color-footer-font);
}